.ui-access-rights-v2-cell-popup-header {
	font-size: var(--ui-font-size-sm);
}

.ui-access-rights-v2-cell-popup-header-locator {
	display: flex;
	align-items: center;
	height: 22px;
	margin-bottom: 9px;
}

.ui-access-rights-v2-cell-popup-header-locator .ui-access-rights-v2-text-ellipsis {
	max-width: 130px;
}

.ui-access-rights-v2-cell-popup-header-chevron {
	--ui-icon-set__icon-size: 10px;
	--ui-icon-set__icon-color: var(--ui-color-palette-gray-50);
	margin-left: 3px;
	margin-right: 3px;
}

.ui-access-rights-v2-cell-popup-header-role-line {
	height: 30px;
	margin-bottom: 9px;
	border: var(--ui-border-width-thin) solid rgba(var(--ui-color-palette-gray-90-rgb), 0.1);
	border-radius: var(--ui-border-radius-sm);
	padding: 8px 18px 8px 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ui-access-rights-v2-cell-popup-header-role-container {
	display: flex;
	align-items: center;
}

.ui-access-rights-v2-cell-popup-header-role-icon {
	--ui-icon-service-bg-color:var(--ui-color-palette-white-base);
	--ui-icon-service-bg-image: url('/bitrix/js/ui/accessrights/v2/images/role.svg');
}

.ui-access-rights-v2-cell-popup-header-role-caption {
	font-size: var(--ui-font-size-xs);
	color: var(--ui-color-palette-gray-40);
}

.ui-access-rights-v2-cell-popup-header-role-title {
	font-size: var(--ui-font-size-md);
}

.ui-access-rights-v2-cell-popup-header-role-title.ui-access-rights-v2-text-ellipsis {
	max-width: 300px;
}

.ui-access-rights-v2-cell-popup-header-toggle-container {
	display: flex;
	height: 17px; /* same as switcher size. we need it for vertical alignment */
}

.ui-access-rights-v2-cell-popup-header-toggle-caption {
	margin-left: auto;
	margin-right: 5px;
	font-size: var(--ui-font-size-xs);
	color: var(--ui-color-palette-gray-40);
}
