.ui-access-rights-v2 {
}

.ui-access-rights-v2-block {
	position: relative;
	pointer-events: none;
	overflow: hidden;
	height: 100vh;
}

.ui-access-rights-v2-block .ui-access-rights-v2-section {
	opacity: .2;
	transition: .2s;
}

.ui-access-rights-v2-section {
}

.ui-access-rights-v2--head-section {
	position: sticky;
	top: 0;
	z-index: 100;
	font-size: var(--ui-font-size-lg);
}

.ui-access-rights-v2--head-section .ui-access-rights-v2-column-item-text {
	font-size: var(--ui-font-size-lg);
}

.ui-side-panel-wrap-workarea {
	overflow: visible !important;
}

.ui-access-rights-v2-section-container {
	display: flex;
	background: var(--ui-color-palette-white-base);
}

.ui-access-rights-v2--head-section .ui-access-rights-v2-section-container {
	height: 82px;
	border-top-right-radius: var(--ui-border-radius-xs);
	border-top-left-radius: var(--ui-border-radius-xs);
}

.ui-access-rights-v2-section-head {
	display: flex;
	width: 205px;
	min-width: 205px;
	max-width: 205px;
}

.ui-access-rights-v2-section-content {
	display: flex;
	overflow: hidden;
	position: relative;
}

.ui-access-rights-v2-section-content .ui-access-rights-v2-column-item:hover {
	background-color: #f6f8f960;
}
.ui-access-rights-v2--head-section .ui-access-rights-v2-section-content .ui-access-rights-v2-column-item:hover {
	background-color: var(--ui-color-palette-white-base);
}

.ui-access-rights-v2-section-content:after,
.ui-access-rights-v2-section-content:before {
	content: '';
	position: absolute;
	width: 10px;
	border-radius: 80%;
	left: -10px;
	top: 0;
	bottom: 0;
	z-index: 9;
	opacity: 0;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	transition: .1s;
}

.ui-access-rights-v2-section-shadow-left-shown.ui-access-rights-v2-section-content:after,
.ui-access-rights-v2-section-shadow-right-shown.ui-access-rights-v2-section-content:before {
	opacity: 1;
}

.ui-access-rights-v2-section-content:before {
	left: auto;
	right: -10px;
}

.ui-access-rights-v2-section-wrapper {
	display: flex;
	flex: 1;
	overflow: auto;
}

.ui-access-rights-v2-section-wrapper::-webkit-scrollbar {
	height: 6px;
}

.ui-access-rights-v2-section-wrapper::-webkit-scrollbar-track {
	background: transparent;
}

.main-kanban-column-body::-webkit-scrollbar-thumb {
	background: #dde2e6;
	border-radius: 5px;
	cursor: pointer;
	opacity: .4;
	transition: .2s;
}

.ui-access-rights-v2-section-wrapper:hover::-webkit-scrollbar-thumb {
	background: #d1d6da;
}

.ui-access-rights-v2-section-wrapper:hover::-webkit-scrollbar-thumb:hover {
	background: #c8cdd2;
}

.ui-access-rights-v2-column {
	flex: 1;
	width: 205px;
	min-width: 205px;
	max-width: 205px;
	overflow: hidden;
	opacity: 1;
}

.ui-access-rights-v2-section-head .ui-access-rights-v2-column {
	min-width: auto;
	max-width: none;
}

.ui-access-rights-v2-column-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;
	height: 49px;
	border: 0.5px solid var(--ui-color-palette-gray-03);
	transition: 0.2s;
}

.ui-access-rights-v2-column-item.--modified {
	transition: 0.2s;
	border-color: var(--ui-color-palette-blue-20);
	background-color: var(--ui-color-palette-blue-15);
}

.ui-access-rights-v2-column-item.--modified .ui-access-rights-v2-column-item-text-link {
	color: var(--ui-color-palette-black-base);
}

.ui-access-rights-v2-section-head .ui-access-rights-v2-column-item {
	align-items: center;
	flex-direction: row;
	justify-content: normal;
	border-left: none;
	padding-left: 18px;
}

.ui-access-rights-v2-column-item-text {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: var(--ui-font-size-sm);
	color: var(--ui-color-palette-black-base);
	line-height: var(--ui-font-line-height-3xs);
	cursor: default;
}

.ui-access-rights-v2-column .ui-access-rights-v2-column-item-title {
	display: flex;
	flex: 1;
}

.ui-access-rights-v2-column-item-title .--plus-in-circle, .ui-access-rights-v2-column-item-title .--minus-in-circle {
	--ui-icon-set__icon-color: var(--ui-color-palette-gray-50);
	--ui-icon-set__icon-size: 18px;
	margin-right: 5px;
}

.ui-access-rights-v2-column-item-text.ui-access-rights-v2-column-item-title .ui-access-rights-v2-text-ellipsis {
	max-width: 100%;
}

.ui-access-rights-v2-column-item-title .ui-hint {
	height: 18px;
	line-height: 18px;
}

.ui-access-rights-v2-column-item-title .ui-hint-icon {
	margin-top: 0;
}

.ui-access-rights-v2-column .ui-access-rights-v2-group-children .ui-access-rights-v2-column-item-title {
	padding-left: calc(30% - 18px);
}

.ui-access-rights-v2-column-item-text-link {
	display: inline-block;
	font-size: var(--ui-font-size-sm);
	color: #80868e;
	padding: 1px 0;
	border-bottom: 1px dashed rgba(130,139,149,.4);
	cursor: pointer;
}

.ui-access-rights-v2-column-item-text-link:hover {
	border-bottom: 1px dashed rgba(130,139,149,.7);
}

.ui-access-rights-v2-header-role-cell {
	padding: 10px;
	height: calc(100% - 20px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.ui-access-rights-v2-role {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4px;
}

.ui-access-rights-v2-role-value-container {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: -16px; /* because of menu */
}

.ui-access-rights-v2-role-input,
.ui-access-rights-v2-role-value {
	font-size: var(--ui-font-size-lg);
	line-height: var(--ui-font-line-height-3xs);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: .11s;
	transition-delay: .1s;
	max-width: calc(205px - 20px - 16px - 5px); /* max column width - padding - menu - some padding between text and menu */
}

.ui-access-rights-v2-role-input {
	border: none;
	width: 100%;
	text-align: center;
}

.ui-access-rights-v2-role-menu {
	--ui-icon-set__icon-size: 16px;
	opacity: var(--ui-opacity-40);
	cursor: pointer;
}

.ui-access-rights-v2-column-item .ui-tag-selector-outer-container{
	margin: 10px 5px;
}

.ui-access-rights-v2-members-container {
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
}

.ui-access-rights-v2-members {
	display: flex;
	align-items: center;
	border: var(--ui-border-width-thin) solid #525C6929;
	border-radius: var(--ui-border-radius-pill);
	padding: 4px;
}

.ui-access-rights-v2-members-item {
	display: inline-block;
	margin-left: -9px;
	position: relative;
	width: 22px;
	height: 22px;
	border: 1px solid #fff;
	border-radius: 100%;
}

.ui-access-rights-v2-members-item:last-of-type {

}

.ui-access-rights-v2-members-item-add {
	height: 24px;
	width: 24px;
	border: none;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.14);
	border-radius: 100%;
	cursor: pointer;
}

.ui-access-rights-v2-members-item-add .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-palette-blue-50);
}

.ui-access-rights-v2-members-item-add:hover .ui-icon-set {
	opacity: var(--ui-opacity-full);
}

.ui-access-rights-v2-members-item.ui-access-rights-v2-members-item-add {
	display: none;
}

.ui-access-rights-v2-header-role-cell:hover .ui-access-rights-v2-members-item.ui-access-rights-v2-members-item-add,
.ui-access-rights-v2-members-item.ui-access-rights-v2-members-item-add.--show-always {
	display: inline-block;
}

.ui-access-rights-v2-members-item.ui-access-rights-v2-members-item-add.--show-always {
	margin-top: 5px;
	margin-bottom: 5px;
}

.ui-access-rights-v2-members-item.ui-access-rights-v2-members-item-add.--has-siblings {
	position: absolute;
	left: 100%;
	margin-left: 3px;
}

span.ui-access-rights-v2-members-item:first-child {
	margin-left: -9px;
}

span.ui-access-rights-v2-members-item:first-child {
	margin-left: 0 !important;
}

.ui-access-rights-v2-members-item:first-child {
	margin-left: 0;
}

div.ui-access-rights-v2-members-item-new:last-of-type {
	animation: ui-access-rights-v2-members-item .5s linear forwards;
}

.ui-access-rights-v2-members-item-avatar {
	display: inline-block;
	width: 22px;
	height: 22px;
	border-radius: var(--ui-border-radius-circle);
}

.ui-access-rights-v2-members-item-icon {
	--ui-icon-size: 22px;
}

.ui-access-rights-v2-members-more {
	font-size: var(--ui-font-size-xs);
	color: var(--ui-color-palette-gray-90);
	opacity: var(--ui-opacity-70);
	padding-left: 7px;
	padding-right: 7px;
}

.ui-access-rights-v2-popup-pointer-events .ui-hint-content {
	margin: 0;
}

.ui-hint-content {
	margin: 0 10px 0 0;
}

.ui-hint-content ul,
.ui-hint-content p {
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	font-style: normal;
	line-height: 20px;
	margin: 0;
}

.ui-hint-content ul {
	padding-left: 24px;
	font-weight: 400;
	opacity: 0.7;
	font-size: 13px;
}
.ui-hint-content p {
	font-weight: 700;
	padding-left: 8px;
	font-size: 14px;
}

.ui-access-rights-v2-text-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 100px;
}

.ui-access-rights-v2-text-center {
	text-align: center;
}

.ui-access-rights-v2-column-item .ui-access-rights-v2-text-ellipsis {
	max-width: calc(100% - 40px); /* 20px for width paddings */
}
