/*
 Triple selector .ui-video-player.ui-icon-set__scope.video-js needs to hack disk_player.css
*/

.ui-video-player.ui-icon-set__scope.video-js .vjs-big-play-button {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	transform: translate(-50%, -50%);
	background: rgba(255,255,255,.9);
	padding: 0;
	border: 0;
	border-radius: 50%;
	cursor: pointer;
	transition: background 0.2s linear;
}

.ui-video-player.ui-icon-set__scope.video-js .vjs-big-play-button:before {
	content: '';
	width: 80px;
	height: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0 0 0 4px;
	transform: translate(-50%, -50%);
	mask-image: var(--ui-icon-set__path_play);
	mask-size: 76px;
	mask-position: center;
	mask-repeat: no-repeat;
	background: #2fc8f6;
}

.ui-video-player.ui-icon-set__scope.video-js:hover .vjs-big-play-button,
.ui-video-player.ui-icon-set__scope.video-js .vjs-big-play-button:focus {
	background-color: #fff;
}

.ui-video-player.ui-icon-set__scope.video-js .vjs-big-play-button .vjs-icon-placeholder {
	display: none;
}

/* Temporary hacks for disk_player.css */
.ui-video-player.ui-icon-set__scope.video-js .vjs-big-play-button:after {
	display: none !important;
}

.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-control-bar:before {
	width: 100%;
	height: 112px;
	position: absolute;
	bottom: 0;
	content: '';
	display: block;
	--ui-video-player-gradient:
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.01) 8.1%,
		rgba(0, 0, 0, 0.05) 15.5%,
		rgba(0, 0, 0, 0.1) 22.5%,
		rgba(0, 0, 0, 0.17) 29%,
		rgba(0, 0, 0, 0.26) 35.3%,
		rgba(0, 0, 0, 0.35) 41.2%,
		rgba(0, 0, 0, 0.45) 47.1%,
		rgba(0, 0, 0, 0.55) 52.9%,
		rgba(0, 0, 0, 0.65) 58.8%,
		rgba(0, 0, 0, 0.74) 64.7%,
		rgba(0, 0, 0, 0.82) 71%,
		rgba(0, 0, 0, 0.89) 77.5%,
		rgba(0, 0, 0, 0.95) 84.5%,
		rgba(0, 0, 0, 0.98) 91.9%,
		rgb(0, 0, 0) 100%
;
	background: linear-gradient(to bottom, var(--ui-video-player-gradient)) repeat-x bottom left;
	z-index: 0;
}

.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-control-bar {
	height: 42px;
	transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
	background: none;
	box-sizing: border-box;
	z-index: 2;
}

.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-control-bar .vjs-button {
	height: 42px;
	font-size: 13px;
	width: 40px;
}

.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-control-bar .vjs-button.vjs-play-control {
	width: 52px;
}

.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-button > .vjs-icon-placeholder:before {
	line-height: 42px;
}

.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-progress-control {
	height: 18px;
	position: absolute;
	bottom: 43px;
	min-width: 100%;
	left: 0;
	right: 0;
	align-items: end;
}

.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-custom-control-spacer {
	display: flex;
	flex: 1 1 auto;
}

.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-playback-rate {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-playback-rate .vjs-playback-rate-value {
	pointer-events: none;
	position: static;
	width: auto;
	height: auto;
	font-size: 14px;
}

.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-playback-rate .vjs-menu {
	z-index: 5;
	width: 60px;
	left: -12px;
}

.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-playback-rate .vjs-menu li {
	font-size: 14px;
}

.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-time-control {
	font-size: 13px;
}

.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-play-progress {
	background: #00A2E8;
}

.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-progress-control .vjs-progress-holder,
.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-play-progress,
.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-load-progress div,
.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-load-progress {
	border-radius: 2px;
}

.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-volume-panel {
	align-items: center;
}

.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-current-time,
.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-duration,
.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-time-divider {
	display: flex;
	align-items: center;
}

.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-remaining-time {
	display: none;
}

.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-time-control {
	padding: 0;
}

.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-time-divider {
	padding: 0 4px;
	width: auto;
	min-width: auto;
	z-index: 1;
}

.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-current-time {
	margin-left: 8px;
}

.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-volume-bar {
	margin: auto;
}

.ui-video-player.video-js:not(.vjs-audio-only-mode) .vjs-volume-horizontal {
	display: flex;
	align-items: center;
}
